$primary-color: #2e3156;
$primary-color-accent: #9da5b5;
$secondary-color: #c9dde2;
$secondary-color-accent: #deeded;
$standard-font-size: 12px;
$small-font-size: 11px;
$smaller-font-size: 10px;
$big-font-size: 13px;
$bigger-font-size: 14px;
$logo-font-size: 21px;
$headline-font-size: 15px;
